//
//  Operations.xcconfig
//  Operations
//
//  Created by Daniel Thorpe on 04/12/2015.
//  Copyright © 2015 Dan Thorpe. All rights reserved.
//


OPERATIONS_VERSION = 3.1.0

DEFINES_MODULE = YES
INFOPLIST_FILE = $(SRCROOT)/Supporting Files/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = me.danthorpe.Operations
PRODUCT_NAME = Operations
