//
//  ProcedureKit
//
//  Copyright © 2015-2018 ProcedureKit. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER_framework = run.kit.procedure.ProcedureKitMac
PRODUCT_BUNDLE_IDENTIFIER_xctest = run.kit.procedure.ProcedureKitMacTests
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(WRAPPER_EXTENSION))

PRODUCT_NAME_framework = ProcedureKitMac
PRODUCT_NAME_xctest = ProcedureKitMacTests
PRODUCT_NAME = $(PRODUCT_NAME_$(WRAPPER_EXTENSION))

SUPPORTED_PLATFORMS = macosx
