//
//  ProcedureKit
//
//  Copyright © 2016 ProcedureKit. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER_framework = run.kit.procedure.ProcedureKit.TV
PRODUCT_BUNDLE_IDENTIFIER_xctest = test.run.kit.procedure.ProcedureKit.TV
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(WRAPPER_EXTENSION))

PRODUCT_NAME_framework = ProcedureKitTV
PRODUCT_NAME_xctest = ProcedureKitTVTests
PRODUCT_NAME = $(PRODUCT_NAME_$(WRAPPER_EXTENSION))

SUPPORTED_PLATFORMS = appletvos appletvsimulator
