//
//  ProcedureKit
//
//  Copyright © 2016 ProcedureKit. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER_framework = run.kit.procedure.ProcedureKitNetwork
PRODUCT_BUNDLE_IDENTIFIER_xctest = run.kit.procedure.ProcedureKitNetworkTests
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER_$(WRAPPER_EXTENSION))

PRODUCT_NAME_framework = ProcedureKitNetwork
PRODUCT_NAME_xctest = ProcedureKitNetworkTests
PRODUCT_NAME = $(PRODUCT_NAME_$(WRAPPER_EXTENSION))

