//
//  ProcedureKit
//
//  Copyright © 2016 ProcedureKit. All rights reserved.
//

PRODUCT_BUNDLE_IDENTIFIER = run.kit.procedure.TestingProcedureKit
PRODUCT_NAME = TestingProcedureKit

APPLICATION_EXTENSION_API_ONLY = NO


FRAMEWORK_SEARCH_PATHS = $(inherited) $(DEVELOPER_SDK_DIR)/../Library/Frameworks
